@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

.logo {
  box-sizing: border-box;
  width: 204.29px;
  height: 34.38px;
  flex-shrink: 0;
  position: fixed;
  top: 36px;
  left: 308px;
  margin: 0;
}

.mainContainer {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  width: 820px;
  height: 1180px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #f7f8f3;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 0px;
}

.questionNumber {
  box-sizing: border-box;
  position: fixed;
  top: 191.14px;
  left: 190.98px;
  color: #6b93ab;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 54.15px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 69.185px */
  margin: 0;
  width: 426px;
  height: 70px;
}

.seperaterBar {
  box-sizing: border-box;
  position: fixed;
  top: 285.92px;
  left: 190px;
  width: 428.72px;
  height: 6.38px;
  background: #6b93ab;
  margin: 0;
}

.questionDescription {
  box-sizing: border-box;
  position: fixed;
  color: #6b93ab;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 31.921px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 40.784px */
  margin: 0;
  height: 82px;
  top: 315px;
}
.questionOne {
  left: 201.79px;
  width: 404.66px;
}
.questionTwo {
  left: 201.79px;
  width: 404.66px;
}
.questionThree {
  width: 286px;
  left: 256px;
}
.questionFour {
  width: 388px;
  left: 215px;
}
.questionFive {
  width: 455.24px;

  left: 182px;
}

.optionBox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 431.18px;
  height: 70.72px;
  flex-shrink: 0;
  border-radius: 16.893px;
  background: #6c93ab;
  color: #fff;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 26.545px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 34.509px */
  left: 194px;
  margin: 0;
}

.optionOne {
  top: 455.84px;
}
.optionTwo {
  top: 556.02px;
}
.optionThree {
  top: 656.2px;
}
.optionFour {
  top: 756.38px;
}
.optionFive {
  top: 856.56px;
}

.logoSVG {
  box-sizing: border-box;
  position: fixed;
  top: 1011.03px;
  left: 381px;
  width: 58px;
  height: 58px;
  margin: 0;
  z-index: 9999;
  transition: all 0.8s ease;
}
.logoSVG.enlarged {
  position: fixed;
  left: -1619px;
  top: -1600px;
  width: 4000px;
  height: 4000px;
  z-index: 9999;
}

.endContainer {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  width: 820px;
  height: 1180px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #6b93ab;
  margin: 0;
  position: fixed;
  left: 0px;
  top: 0px;
}
.endLogo {
  box-sizing: border-box;
  width: 204.29px;
  height: 34.38px;
  flex-shrink: 0;
  position: fixed;
  top: 36px;
  left: 308px;
  margin: 0;
}
.endTitle {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  width: 287px;
  height: 176px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 135.411px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 176.035px */
  position: fixed;
  top: 436px;
  left: 266.15px;
}
.seperaterBar2 {
  margin: 0;
  box-sizing: border-box;
  width: 375.529px;
  height: 6.752px;
  background: #fff;
  position: fixed;
  top: 614.16px;
  left: 222px;
}
.endText {
  margin: 0;
  color: #fff;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 33.761px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 43.89px */
  position: fixed;
  top: 638.57px;
  left: 222px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.endAnimation {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0s;
}
